a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: #333;
  transition: all 0.3s ease 0s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
  /* min-height: 100vh; */
}

.footer {
  background: linear-gradient(105deg, #d4e1f3, #766aff);
  padding-top: 80px;
  padding-bottom: 40px;

  .single_footer {
    h4 {
      color: #766aff;
      margin: 0 0 25px 0;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 20px;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 40px;
        background: #766aff;
        margin-top: 20px;
      }
    }

    p {
      color: #fff;
    }

    ul li {
      a {
        color: #585858;
        font-size: 15px;
        line-height: 36px;
        text-transform: capitalize;
        transition: all 0.3s ease 0s;
        font-weight: 600;
        text-decoration: underline;

        &:hover {
          color: #ff3666;
          text-decoration: none;
        }
      }
    }
  }

  .single_footer_address {
    ul li {
      color: #fff;

      span {
        font-weight: 400;
        color: #fff;
        line-height: 28px;
      }
    }
  }

  .contact_social ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .social_profile {
    margin-top: 40px;

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        float: left;

        a {
          display: block;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 18px;
          color: #fff;
          border-radius: 30px;
          margin: 0 5px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          text-transform: uppercase;
          transition: all 0.3s ease 0s;

          &:hover {
            background: #ff3666;
            border-color: #ff3666;
            color: #fff;
            border: 0;
          }
        }
      }
    }
  }

  .copyright {
    margin-top: 70px;
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
    color: #585858;
    font-size: 15px;

    a {
      color: #5546ff;
      transition: all 0.2s ease 0s;

      &:hover {
        color: #ff3666;
      }
    }
  }
}

.subscribe {
  position: relative;
  display: block;
  margin-top: 15px;
  width: 100%;

  .subscribe_input {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #333;
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 150px 0 20px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.4px;
  }

  .subscribe_btn {
    background-color: transparent;
    border-radius: 0 25px 25px 0;
    color: #01c7e9;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;

    i {
      transition: all 0.3s ease 0s;
    }
  }
  .subscribe_btn:hover i {
    color: #ff3666;
  }
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
}

/* // Media Queries */
@media only screen and (max-width: 768px) {
  .single_footer {
    margin-bottom: 30px;
  }

  .subscribe__input {
    padding-right: 50px;
  }

  .subscribe__btn {
    right: 0;
  }

  .social_profile ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .social_profile ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
